<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="UserNotification" type="io.systom.coin.model.UserNotification"/>
        <typeAlias alias="ExchangeKey" type="io.systom.coin.model.ExchangeKey"/>
        <typeAlias alias="Strategy" type="io.systom.coin.model.Strategy"/>
        <typeAlias alias="StrategyDeployVersion" type="io.systom.coin.model.StrategyDeployVersion"/>
        <typeAlias alias="TaskResult" type="io.systom.coin.model.TaskResult$Result"/>
        <typeAlias alias="TaskResult.Trade" type="io.systom.coin.model.TaskResult$Result$Trade"/>
        <typeAlias alias="TaskResult.Value" type="io.systom.coin.model.TaskResult$Result$Value"/>
        <typeAlias alias="Goods" type="io.systom.coin.model.Goods"/>
        <typeAlias alias="InvestGoods" type="io.systom.coin.model.InvestGoods"/>

    </typeAliases>

</configuration>
