<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="ExchangeKey" type="io.systom.coin.model.ExchangeKey"/>
        <typeAlias alias="Strategy" type="io.systom.coin.model.Strategy"/>
        <typeAlias alias="StrategyDeployVersion" type="io.systom.coin.model.StrategyDeployVersion"/>
    </typeAliases>

</configuration>
