<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="UserNotification" type="io.systom.coin.model.UserNotification"/>
        <typeAlias alias="ExchangeKey" type="io.systom.coin.model.ExchangeKey"/>
        <typeAlias alias="Strategy" type="io.systom.coin.model.Strategy"/>
        <typeAlias alias="StrategyDeployVersion" type="io.systom.coin.model.StrategyDeployVersion"/>
        <typeAlias alias="Goods" type="io.systom.coin.model.Goods"/>
        <typeAlias alias="InvestGoods" type="io.systom.coin.model.InvestGoods"/>
        <typeAlias alias="PerformanceSummary" type="io.systom.coin.model.PerformanceSummary"/>
        <typeAlias alias="PerformanceDaily" type="io.systom.coin.model.PerformanceDaily"/>
        <typeAlias alias="TaskResult$Result$Trade" type="io.systom.coin.model.TraderTaskResult$Result$Trade"/>
        <typeAlias alias="UserMonthlyInvest" type="io.systom.coin.model.UserMonthlyInvest"/>
        <typeAlias alias="GoodsTestResult" type="io.systom.coin.model.GoodsTestResult"/>
    </typeAliases>

    <!--<typeAlias alias="Trade" type="io.systom.coin.model.Trade"/>-->
    <!--<typeAlias alias="TraderTaskResult" type="io.systom.coinUnit.model.TraderTaskResult$Result"/>-->
    <!--<typeAlias alias="TraderTaskResult.Trade" type="io.systom.coinUnit.model.TraderTaskResult$Result$Trade"/>-->
    <!--<typeAlias alias="TraderTaskResult.Value" type="io.systom.coinUnit.model.TraderTaskResult$Result$Value"/>-->
</configuration>
